
.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* common sheared styles */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.spacial-color-title{
    color: #E95A08;
}
.section-description{
    font-size: 1.2rem;
    color: #00000080;
}
.btn{
    background-color: #E95A08;
    color: white;
    font-weight: 600;
    padding: 19px 80px;
    border: 0;
    font-weight: 600;
    width: 100%;
}

/* custom styles */
/* nav related styles */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 120px;

}
.nav-items{
display: flex;
gap: 48px;
}
.nav-items li{
list-style: none;

}
.nav-items li a{
    text-decoration: none;
}
#link-home{
    font-weight: 700;
    color: #252432;
}
.link-shop{
    color: #8987A1;
}
#link-card{
    color: #000000;
}
#shopping-card{
    margin-right: 8px;
}
/* banner related styles */
.banner{
    display: flex;
    align-items: end;
    margin-bottom: 120px;
    
}
.banner-content h2{
    font-weight: 700;
    font-size: 4.1rem;
    margin-bottom: 15px;
}
/* plants section related styles */
.plants-section{
    text-align: center;
    margin-bottom: 150px;
}

.plants-section h3{
    font-weight: 700;
    font-size: 3.1rem;
}   
.card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin-top: 49px;
   
}

.card h4{
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 30px;
    margin-bottom: 20px;
}
.card h5{
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 30px;
}
/* flower and plant lover section */
.plant-lover{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-bottom: 120px;
}
.plant-lover-img{
    position: relative;
    flex: 1;
    
}
.plant-lover-img img{
    width: 100%;
}
 .plant-lover-img-first{
    position: absolute;
    width: 280px;
    height: 280px;  
    margin-top: -130px;
    margin-left: 400px; 
    
}
.plant-lover-img-second{
    /* background: linear-gradient(180.00deg, rgba(103, 171, 234, 0.24),rgba(233, 90, 8, 0.6) 100%) */
}

.plant-lover-list{
    flex: 1;
}
.plant-lover-list h3{
    font-size: 3.1rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.plant-lover-list ul li{
    color: #00000080;
    font-size: 1.25rem;
    margin-bottom: 20px;

}
/* latest deals section */
.latest-deal{
    text-align: center;
    margin-bottom: 120px;
}
.latest-deal h3{
font-weight: 700;
font-size: 3.2rem;
margin-bottom: 16px;

}
.latest-deal-content{
    display: flex;
    gap: 28px;
    margin-top: 120px;
    height: 425px;
}
.latest-deals-left{
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.latest-deals-left h4{
font-size: 1.25rem;
font-weight: 600;
color: #FFFFFF;
margin-bottom: 8px;

}
.latest-deals-left a{
    font-weight: 600;
    color: #FFFFFF;
    
}
.latest-deals-left-first{
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)) ,url('./assets/deal-bloom.png');
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.latest-deals-left-second{
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)) ,url('./assets/deal-ana.png');
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.latest-deals-right{
    width: 66%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)) ,url('./assets/deal-zabo.png');
     background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    height: 100%;

}
.latest-deals-right h3{
    font-weight: 700;
    font-size: 1.8rem;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.latest-deals-right a{
    font-weight: 700;
    color: #FFFFFF;
    
}

@media screen and (max-width:576px) {
    .navbar{
        margin-top: 50px;
        margin-left: 10px;
        margin-right:10px ;
    }
    
    #link-home{
        display: none;
    }
    .link-shop{
        display: none;
    }
    .banner{
        flex-direction: column-reverse;
        gap: 20px;
    }
    .banner img{
        width: 100%;
    }
    .banner-content{
        padding: 15px;
    }
    .banner-content h2{
        font-size: 3rem;
    }
    .card-container{
        grid-template-columns: repeat(2,1fr);
        margin: 15px;
    }
    .card .btn {
        width: 100%;
        padding: 15px;
    }
    .card img{
        width: 100%;
    }
    .plant-lover{
        flex-direction: column;
        margin-left: 10px;
        margin-right:10px ;
    }
    .plant-lover-img-first{
        display: none;
    }
    .plant-lover-list h3{
        font-size: 2rem;
    }
    
    .latest-deal-content{
        flex-direction: column;
        
    }
    .latest-deals-left{
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
        
    }
    .latest-deals-left-first{
        padding: 100px 20px;
    }
    .latest-deals-left-second{
        padding: 100px 20px;
    }
    
    .latest-deals-right{
        width: 100%;
        padding: 100px 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
   
    .latest-deals-right h3{
        font-size: 1.25rem;
        font-weight: 600;
    }
}